.body{

  width: 100%;

}

.container{

  display:grid;
  --border: solid 1px;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 30px;
  margin-top: 20px;
  border-radius: 2px;

}

.members{
  height: 600px;
  background-color: lightcyan;
}

.member 
{
  border: solid 1px;
}
.join-chat{
  display: inline flex;
  margin: 10px 10px 10px 10px;;
  
}
.new-message {
   padding: auto;
  border: solid 1px;
  border-radius: 2px;
}

.new-message  textarea {

  border: none;
}

.chat-room{
  background-color: rgb(163, 186, 224);
  display: flex;
  flex-direction: column;
  border: solid 1px;
  row-gap: 10px;
  height: 550px;
  overflow: scroll;
  margin-bottom: 10px;
}

.chat {

  display: grid;
}

.username {
  font-size: smaller;
  background-color: rgb(94, 187, 240);
  font-style: italic;
  margin-left: 5px;
  margin-bottom: 5px;
}

.bot {
  font-size: smaller;
  background-color: rgb(221, 166, 234);
  font-style: italic;
  margin-left: 5px;
  margin-bottom: 5px;
}

.notification{
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.5em;
  line-height: 1.1em;
  background-color: rgb(252, 252, 250);

}

.reply{
  font-size: smaller;
  border:  solid 1px;
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  padding: 2px 2px 2px 2px;
  background-color: rgb(210, 223, 251);
  
}

.answerPreview {
  margin: 5px;
  margin-right: 10px;
  background-color: aquamarine;
  border: solid 1px;
  border-radius: 2px;
  font-size: smaller;
  font-style: italic;
  width: fit-content;
}

.answerPreview span {
  font-size: smaller;
  border: solid 1px;
}

.time {
      
   font-size: x-small !important;
    
}